.card-service{
  .icon{
    background-color: var(--accent);
    padding: 0.8em 1.2em;
    border-radius: 1000000px;
    i{
      color: white;
      font-size: 30px;
    }
  }
  h3{
    font-size: 20px;
    font-weight: 700;
  }
  p{
    font-size: 18px;
  }
}