.card-service{
  .icon{
    background-color: var(--accent);
    padding: 1em;
    border-radius: 1000000px;
    img{
      width: 40px;
      height: 40px;
    }
  }
  h2{
    font-size: 20px;
    font-weight: 700;
    text-align: start;
  }
  p{
    font-size: 18px;
  }
}