.consult{
  padding: 5em 0em;
  h2{
    color: rgb(32, 32, 32);
  }
  h1{
    color: rgb(32, 32, 32);
    font-weight: 700;
    margin-bottom: 1em;
  }
  .image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .form{
    padding: 3em;
    background-color: var(--accent-secondary);
  }
  button{
    width: 100%;
    padding: 14px 0px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media (max-width: 425px){
  .consult{
    padding: 3em 0em;
  }
}