.main-banner{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  height: 95vh;
  padding: 0px;
  margin: 0px;
  padding-top: 10%;
  box-shadow: inset 0 150px 150px rgba(0, 0, 0, 0.9),   /* Sombreado arriba */
              inset 0 -150px 150px rgba(0, 0, 0, 0.7);
  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 2em 2em 5em;
    button{
      display: flex;
      align-items: center;
      width: fit-content;
      border: none;
      font-size: 18px;
      font-weight: 600;
      background-color: var(--accent);
      padding: 1em 2em;
      border-radius: 10px;
      color: white;
      p{
        margin: 0px;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
    h1{
      color: var(--primary);
      margin-bottom: 0.5em;
      font-size: 48px;
      font-weight: 700;
      text-transform: capitalize;
      color: rgb(240,240,240);
    }
    p{
      color: var(--primary);
      font-size: 18px;
      margin-bottom: 1em;
      color: rgb(240,240,240);
    }
  }
}
#btn{
  width: 5% !important;
}

@media (max-width: 480px){
  .main-banner{
    height: auto;
    padding-top: 7em;
    .image{
      padding: 2em 4em 0em 4em;
    }
    .text{
      padding: 2em;
      .center{
        display: flex;
        justify-content: center;
        button{
          padding: 14px 20px;
          font-size: 14px;
        }
      }
      h1{
        text-align: center;
        font-size: 38px;
        margin-bottom: 1em;
      }
      p{
        text-align: center;
        font-size: 16px;
        margin-bottom: 2em;
      }
    }
  }
}