.mvv{
  padding: 5em;
  height: auto;
  .image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .info{
    padding: 2em;
    height: 120vh;
    h1{
      margin-bottom: 1em;
    }
    button{
      border: none;
      padding: 0.5em 3em;
      border-radius: 7px;
      font-weight: 500;
      margin-right: 10px;
    }
    .txt{
      padding: 2em;
    }
  }
}
@media (max-width: 425px){
  .mvv{
    padding: 3em 1em;
    height: auto;
    .image{
      height: 80vh;
    }
    .info{
      padding: 1em;
      button{
        width: 100%;
      }
    }
  }
}