@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2'),
       url('../public/fonts/Inter-Regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  position: relative;
  font-display: swap;
}
:root {
  --primary: #232E3D;
  /* --accent: #38ACA8; */
  --accent: #064acb;
  --text: #5a5a5a;
  /* --accent-secondary: #FD9009; */
  --accent-secondary: #f79f24;
}
.section-title{
  font-size: 34px !important;
  text-transform: capitalize;
}
.section-subtitle{
  color: var(--accent);
  font-weight: 800;
  font-size: 16px !important;
  text-transform: uppercase;
}
p{
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
}

ul{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: inherit;
  font-size: 14px;
}
a:hover, a:focus, a:active {
  text-decoration: none; /* Mantiene sin subrayado en el hover o focus */
  color: inherit;        /* Mantiene el color en cualquier estado */
}
.row{
  margin: 0px;
  padding: 0px;
}